{% extends "admin/base_site.html" %}cc
{% load static %}

 {% block nav-global %}

     {{ block.super }}
 {% endblock %}




  
   
 


 {% block content %}
 <form action="" method="get">
  {{ form }}
  <input type="submit" value="Submit">
</form>
 <script src="{% static 'js/cdn.anychart.com_releases_8.6.0_js_anychart-core.min.js' %}"></script>
 <script src="{% static 'js/cdn.anychart.com_releases_8.6.0_js_anychart-gantt.min.js' %}"></script>
 <div id = "container" ></div>
<script>
anychart.onDocumentReady(function () {
	// create data
  var data = {{data|safe}}; 
	// create a data tree
	var treeData = anychart.data.tree(data, "as-tree");

	// create a chart
	var chart = anychart.ganttProject();

	// set the data
	chart.data(treeData);
	// configure the scale
	chart.getTimeline().scale().maximum(Date.UTC(2024, 1, 1));
	// set the container id
	chart.container("container");
	// initiate drawing the chart
	chart.draw();
	// fit elements to the width of the timeline
	chart.fitAll();
});
</script>
 {% endblock %}