{% extends "admin/base_site.html" %}cc
{% load static %}

 {% block nav-global %}

     {{ block.super }}
 {% endblock %}




  
   
 


 {% block content %}
 <form action="" method="get">
  {{ form }}
  <input type="submit" value="Submit">
</form>

{% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}


	{% autoescape off %}
        {{ hist_div }}
    {% endautoescape %}

	<!--Ленточнопильная:{{norms.lentopil}} часов =  {% widthratio norms.lentopil 8 1 %} смен = {% widthratio norms.lentopil 16 1 %} рабочих дней-->


 {% endblock %}