{% extends "admin/base_site.html" %}

 {% block nav-global %}

     {{ block.super }}
 {% endblock %}




  
   
 


 {% block content %}
 <form action="" method="get">
  {{ form }}
  <input type="submit" value="Submit">
</form>



 <b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Детали на складе <a href="/tools/toolsonwarehouse/add/" class="button" style = "font-size: 12px;">Добавить</a></h2></b>
 <table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      <th scope="col">Кол-во на складе</th>
      <th scope="col">Место хранения</th>
      <th scope="col">Похожие</th>
      <th scope="col">Комментарии</th>
    </tr>
  </thead>
  <tbody>

  {% for tool in tools %}
  <tr>
  <th scope="row"><a href="/tools/toolsonwarehouse/{{ tool.id }}/change/">{{ tool.title }}</a></th>
 <td>{{ tool.count }}</td>
 <td>{{ tool.workplace }}</td>
 <td>
  {% for t in tool.similar.all %}
  {{ t.title }}</br>
{% endfor %}
  

</td>
 <td>{{ tool.text }}</td>
</tr>
  {% endfor %}
</tbody>
</table>


<b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Выдача деталей <a href="/tools/tools/add/" class="button" style = "font-size: 12px;">Добавить</a></h2></b>
<table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      <th scope="col">Работник</th>
      <th scope="col">Количество</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">Комментарии</th>
    </tr>
  </thead>
  <tbody>

  {% for tool in toolsv %}
  <tr>
  <th scope="row"><a href="/tools/tools/{{ tool.id }}/change/">{{ tool.tool }}</a></th>
 <td>{{ tool.worker }}</td>
 <td>{{ tool.count }}</td>
 <td>{{ tool.giveout_date }}</td>
 <td>{{ tool.text }}</td>
</tr>
  {% endfor %}
</tbody>
</table>


<b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Прием деталей на склад <a href="/tools/priem/add/" class="button" style = "font-size: 12px;">Добавить</a></h2></b>
<table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      <th scope="col">Количество</th>
      <th scope="col">Работник</th>
      <th scope="col">Дата приема на склад</th>
      <th scope="col">Место хранения</th>
      <th scope="col">Комментарии</th>
    </tr>
  </thead>
  <tbody>

  {% for tool in priems %}
  <tr>
  <th scope="row"><a href="/tools/priem/{{ tool.id }}/change/">{{ tool.tool }}</a></th>
  <td>{{ tool.count }}</td>
 <td>{{ tool.worker }}</td>
 <td>{{ tool.giveout_date }}</td>
 <td>{{ tool.place }}</td>
 <td>{{ tool.text }}</td>
</tr>
  {% endfor %}
</tbody>
</table>







<b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Детали по изделиям <a href="/order/order/add/" class="button" style = "font-size: 12px;">Добавить</a></h2></b>
 <table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      <th scope="col">Количество</th>
      <th scope="col">Изделие</th>
      <th scope="col">Кол-во изд.</th>
      <th scope="col">Срок изготовления</th>
      <th scope="col">Дата запуска</th>
      <th scope="col">Статус</th>
      <th scope="col">Комментарии</th>
      <th scope="col">МК</th>
    </tr>
  </thead>
  <tbody>

  {% for order in orders %}
  <tr>
  <th scope="row"><a href="/order/order/{{ order.id }}/change/">{{ order.tool }}</a></th>
  <td>{{order.count }}</td>
 <td>{% if order.firm != NONE %}<a href="/order/order/?firm__id__exact={{ order.firm.id }}">{{ order.firm }}</a> {% endif %}</td>
 <td>{% if order.firm != NONE %}<a href="/order/firm/{{ order.firm.id }}/change/">{{ order.firm.count }}</a> {% endif %}</td>
 <td>{% if order.exp_date != NONE %}{{ order.exp_date }}{% endif %}</td>
 <td>{{ order.order_date_worker }}</td>
 <td>
  {% for mykey,myvalue in order.ORDER_CHOICES %}
    {% if mykey == order.status %}
      {{myvalue}} {{order.log}}</div>
      {% endif %}
    {% endfor %}
  
 </td>
 <td>{{ order.text }}</td>
 <td> 
  <a href="/order/printmk/{{ order.id }}" class="button">&#128438;</a></td>
</tr>


  {% endfor %}
</tbody>
</table>




<b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Изготовление <a href="/work/work/add/" class="button" style = "font-size: 12px;">Добавить</a></h2></b>
 <table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      <th scope="col">Количество</th>
      <th scope="col">Исполнитель</th>
      <th scope="col">Дата изготовления</th>
      <th scope="col">Готовность</th>
      <th scope="col">Операция</th>
      <th scope="col">Станки</th>
    </tr>
  </thead>
  <tbody>

  {% for work in works %}
  <tr>
  <th scope="row"><a href="/tools/toolsonwarehouse/{{ work.tool.id }}/change/">{{ work.tool }}</a></th>
  <td>{{work.count }}</td>
 <td><a href="/auth/user/{{ work.user.id }}/change/">{{ work.user.first_name }} {{ work.user.last_name }}</a> </td>
 <td>{{ work.date }} / {{ work.time }}</td>
 <td>
  {% if work.ready == True %}&#9989;{% endif %}
  {% if work.ready == False %}&#10060;{% endif %}
  </td>
 <td>{{ work.user.stanprofile.operation }}</td>
 <td> 
  {% for myvalue in work.user.stanprofile.machines.all %}
    {{myvalue}}
    |
  {% endfor %}
  
  
  
  </td>
</tr>
  {% endfor %}
</tbody>
</table>



     {{ block.super }}
 {% endblock %}