{% extends "admin/base_site.html" %}

 {% block nav-global %}

     {{ block.super }}
 {% endblock %}




  
   
 


 {% block content %}

<table>
  <thead>
    <tr>
      <th scope="col">Изделие</th>
      <th scope="col">кол-во</th>
      <th scope="col">Процент</th>
      <th scope="col">кол-во х Процент</th>
      
    </tr>
  </thead>

  {% for firm, value in count.items %}
 
<tr>
 <th><b><a href="/order/firm/{{firm.id}}/change/"> {{firm.title}} </a> </b></th>
  <th>{{firm.count}} </th>
  <th>{{value}} %</th>
  <th>{% widthratio value 100 firm.count as count %} {{count}} </th>
</tr>
  {% endfor %}
</table>

 <form action="" method="post">
  {% csrf_token %}
  {{ form }}
 </br>
  <input type="submit" value="Отправить">
</form>


<h3>Прием по изделиям в зависимости от срока</h3>
  <div>
    <table class="table" style="width: 100%;">
      <thead>
        <tr>
          <th scope="col">Деталь</th>
          <th scope="col">Запущено</th>
          <th scope="col">Процент</th>
          <th scope="col">Изделие</th>
          <th scope="col">Кол-во изд.</th>
          <th scope="col">Дата запуска</th>
          <th scope="col">Срок изготовления</th>
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
      <tr {% if  order.percent < 100 %}style="background-color: RGBA(249, 201, 16, 0.3)"  {% endif %}>
      <th scope="row"><a href="/info/?tool={{ order.tool.title }}">{{ order.tool }}</a></th>
      <td>{{ order.count }}</td>
     <td>{{ order.percent }}</td>
     <td><a href="/order/order/?firm__id__exact={{ order.firm.id }}">{{ order.firm }}</a></td>
     <td>{{ order.firm.count }}</td>
     <td>{{ order.firm.date }}</td>
     <td>{{ order.firm.exp_date }}</td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
 

     {{ block.super }}
 {% endblock %}