{% extends "admin/base_site.html" %}

 {% block nav-global %}

     {{ block.super }}
 {% endblock %}




  
   
 


 {% block content %}
 
{{firm.title}}

<br>Запуск {{firm.date}}


 <b><h2 style="color: rgb(121, 0, 0); background-color: rgba(255, 235, 205, 0.651);">Детли по изделиям</h2></b>
 <table class="table" style="width: 100%;">
  <thead>
   
    <tr>
      <th scope="col">Деталь</th>
      
      <th scope="col">Кол-во</th>
      <th scope="col">Изделие</th>
      <th scope="col">Метериал</th>
      <th scope="col">Расход материала, мм</th>
      <th scope="col">Статус</th>

     
      
    </tr>
  </thead>
  <tbody>

  {% for order in orders %}
  <tr>
  <th scope="row">{{ order.tool.title }}</th>

 <td>{{ order.count }}</td>
 
 <td>{{ order.firm }}</td>
 <td>{{ order.tool.material_n }}</td>
 <td>{{ order.get_sizes }}</td>
 <td>{{ order.get_status }}</td>


 
</tr>
  {% endfor %}
</tbody>
</table>





     {{ block.super }}
 {% endblock %}