.field-firm  select {
    max-width: 150px;
   
}
.column-firm {
    max-width: 150px;
   
}

.column-tool {
    max-width: 150px;
    padding-right: 150px !important;
   
}
.field-tool {
    max-width: 150px;
    overflow: hidden;
   
}



